@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ece9f0;
  font-family: 'Montserrat', sans-serif;
  color: #535353;
}

.material-icons {
  color: #c7bfd6;
}

.listSection {
  width: 50%;
  margin: 10% auto 20% auto;
  list-style: none;
  display: flex;
  gap: 0.15rem;
  flex-direction: column;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.listContainers {
  list-style: none;
  display: flex;
  gap: 0.15rem;
  flex-direction: column;
}

.taskDescriptions {
  font-size: 1rem;
  font-weight: 600;
  color: #00000093;
  padding-left: 1rem;
}

.listsbgcolor {
  background-color: #fff;
  padding: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 40vw;
}

.addlist {
  font-style: italic;
}

input[type="text"],
input[type="text"]:active,
li[contenteditable="true"]:active,
li[contenteditable="true"]:focus {
  border: none;
  outline: none;
  background-color: inherit;
}

label {
  display: flex;
  align-items: center;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  border: 2px solid #c7bfd6;
  border-radius: 25%;
}

input[type="checkbox"]:checked {
  border: none;
}

/* Show custom checkmark when the checkbox is checked */
input[type="checkbox"]:checked::before {
  content: "\2713"; /* Unicode checkmark symbol */
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  background-color: inherit;
  color: #67558f;
  font-size: 2rem;
}


#clearContainer {
  background-color: #c7bfd6;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

#clearContainer:hover {
  text-decoration: underline;
}

.deleteBtn {
  display: none;
  color:  #67558f;
}
